body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  background: #311515;
  color: #ffffff;
  position: fixed;
  width: 100%;
  justify-content: center;
}

#navbar-links {
  display: flex;
}

.navbar-item {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
}

.navbar-item:hover {
  color: #3d7267;
}

.modifier-btns {
  display: flex;
}

.modifier-btn {
  margin-right: 20px;
}

img {
  width: 30vw;
  height: 30vh;
}

#campuses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#campus {
  margin: 5px;
}

#edit-student-save {
  margin-top: 5vh;
}
