body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#content {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  background: #152f31;
  position: fixed;
  width: 100%;
  justify-content: center;
}

#navbar-links {
  display: flex;
}

.navbar-item {
  margin-left: 10px;
  color: #ffffff;
  text-decoration: none;
}

.navbar-item:hover {
  color: #3d7267;
}

.modifier-btns {
  display: flex;
}

.modifier-btn {
  margin-right: 20px;
}

img {
  width: 25vw;
  height: 25vh;
  border-radius: 90%;
}

#campuses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}

.campus {
  margin: 5px;
  text-align: center;
}

.campus-name {
  color: rgb(59, 17, 17);
  text-decoration: none;
}

#edit-student-save {
  margin-top: 5vh;
}

#student-select {
  display: flex;
}

#add-student-btn {
  height: 10px;
}

#campus-stdnts {
  display: flex;
}

#stdnt-delete {
  background-color: red;
  border-radius: 50%;
  margin-left: 15px;
}
